@font-face {
  font-family: 'BricolageGrotesque';
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/BricolageGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BricolageGrotesque';
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/BricolageGrotesque-Bold.ttf') format('truetype');
}
